:root {
  --font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-sans: 'Inter', -apple-system, 'HarmonyOS Sans SC', 'Source Han Sans SC',
    'Source Han Sans', 'Noto Sans SC', BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, var(--font-emoji);
}

body {
  font-family: var(--font-sans);
}

.ant-statistic-content {
  font-family: var(--font-sans);
  white-space: nowrap;
}

.ant-statistic-content-suffix {
  display: flex;
  margin: 0;
  padding: 0.25rem 0 0 0;
}
